{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>community</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'GCapp/css/main.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="wholebox">
{% if user_id %}
<h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection <a style="color: white;margin-left:70%;font-size: 15px " href='{% url 'GCapp:index' %}'>Main page</a> |  <a style="color: white;font-size: 15px " href='{% url 'GCapp:main' %}'>My page</a></h1>
{% else %}
<h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection <a style="color: white;margin-left:70%;font-size: 15px " href='{% url 'GCapp:login' %}'>Login</a> | <a style="color: white;font-size: 15px " href='{% url 'GCapp:index' %}'>Main page</a></h1>
{% endif %}
    <h2 style="color: black; font-style: italic; margin-top: 50px; margin-left: 30px">{{ community.community_name }}</h2>

{% if post_list %}
    <ul>
    {% for post in post_list %}
        <li><a style="color: lavenderblush" href="{% url 'GCapp:post' post.post_id %}">{{ post.post_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No post in this community</p>
{% endif %}
</div>
</body>
</html>