{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>News details</title><link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'GCapp/css/index.css' %}" rel="stylesheet"/>

</head>
<body>
<div id="wholebox" >
    <h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection <a style="color: white;margin-left:75%;font-size: 15px " href='{% url 'GCapp:login' %}'>Login</a></h1>
<div style="margin-left: 50px; margin-top: 50px;">
    <h2 style="color: black; font-style: italic ">{{ news.news_title }}</h2>
    <p style="color: lavenderblush"> This new is published by {{ news.news_publisher }} on {{ news.news_date }}</p>
<p>
    {{ news.news_text}}
</p>
</div>
</div>
</body>
</html>