{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/register.css' %}" rel="stylesheet"/>
    <title>Edit my profile</title>
</head>
<body>
<div class="container">
            <div class="col">
                <form class="form-edit" action="/GCapp/edit/" method="post">

                    {% if message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}

                  {% csrf_token %}
                  <h3 class="text-center">Edit my profile</h3>

                  <div class="form-group">
                      {{ edit_form.username.label_tag }}
                      {{ edit_form.username}}
                  </div>
                  <div class="form-group">
                      {{ edit_form.password1.label_tag }}
                      {{ edit_form.password1 }}
                  </div>
                  <div class="form-group">
                      {{ edit_form.password2.label_tag }}
                      {{ edit_form.password2 }}
                  </div>
                  <div class="form-group">
                      {{ edit_form.email.label_tag }}
                      {{ edit_form.email }}
                  </div>
                  <div class="form-group">
                      {{ edit_form.gender.label_tag }}
                      {{ edit_form.gender }}
                  </div>
                  <div class="form-group">
                      {{ edit_form.tag.label_tag}}
                      {{ edit_form.tag }}
                  </div>
                  <div class="form-group">
                      {{ edit_form.community.label_tag }}
                      {{ edit_form.community }}
                  </div>
                  <div>
                      <button type="submit" class="btn btn-primary float-right">Confirm</button>
                  </div>
                </form>
            </div>
    </div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>