{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Game detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'GCapp/css/main.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="wholebox">
{% if request.session.user_name %}
    <h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection<a style="color: white;margin-left:65%;font-size: 15px" href='{% url 'GCapp:logout' %}'>Logout</a> | <a style="color: white;font-size: 15px" href='{% url 'GCapp:profile' %}'>View my profile</a></h1>
<div id="content" style="margin-left: 50px; margin-top: 20px">
    <h2 style="color: black; font-style: italic ;font-weight: bold">{{ game.game_name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ game.game_score}}</h2>

    <button style="background-color: #6f0124" type="submit" class="btn btn-primary float-right" onclick="addcollection({{ game.game_id }});">Add to my collection</button>

{% else %}
    <h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection</h1>
    <div id="content" style="margin-left: 50px; margin-top: 20px">
    <h2 style="color: black; font-style: italic ">{{ game.game_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ game.game_score}}</h2>
    <h5 style="color: cornsilk">You haven't login to GameCollection! Please login to add game to your game collection!</h5>
{% endif %}

<a style="color: lavenderblush; margin-left: 20px;" href="{% url 'GCapp:main' %}">View my collection</a>

<a style="color: lavenderblush; margin-left: 20px;" href="{% url 'GCapp:index' %}">Return to index page</a>

<p style="margin-top: 30px"><img width = 400px height = auto src="{% static 'GCapp/media/gameImg/' %}{{game.game_image}}"><br></p>
<h3>Game Introduction</h3>
<p>
    {{ game.game_introduction }}
</p>
<h3>Game Type</h3>
<p>
    {{ game.game_type }}
</p>
<h3>Game Purchase</h3>
<br>
{% if game.game_Amazon %}
    {% if game.game_Ebay %}
    <img width = 40px height = auto src="{% static 'GCapp/image/amazon.png' %}"><a style="color: white;margin-left:10px;font-size: 15px" href={{game.game_Amazon}}>Amazon.com</a>
    <br>
        <img width = 40px height = auto src="{% static 'GCapp/image/ebay.png' %}"><a style="color: white;margin-left:10px;font-size: 15px" href={{game.game_Ebay}}>Ebay.com</a>
    {% else %}
        <img width = 40px height = auto src="{% static 'GCapp/image/amazon.png' %}"><a style="color: white;margin-left:10px;font-size: 15px" href={{game.game_Amazon}}>Amazon.com</a>
        <br>
        <img width = 40px height = auto src="{% static 'GCapp/image/ebay.png' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product is unavailable on Ebay currently!
    {% endif %}
{% else %}
    {% if game.game_Ebay %}
    <img width = 40px height = auto src="{% static 'GCapp/image/amazon.png' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product is unavailable on Amazon currently!
    <br>
        <img width = 40px height = auto src="{% static 'GCapp/image/ebay.png' %}"><a style="color: white;margin-left:10px;font-size: 15px" href={{game.game_Ebay}}>Ebay.com</a>
    {% else %}
        <img width = 40px height = auto src="{% static 'GCapp/image/amazon.png' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product is unavailable on Amazon currently!
    <br>
        <img width = 40px height = auto src="{% static 'GCapp/image/ebay.png' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product is unavailable on Ebay currently!
    {% endif %}
{% endif %}
</p>


<form action="{% url 'GCapp:game' game.pk %}" method="post" class="comment-form">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      <label for="{{ form.comment_text.id_for_label }}"> Publish my comment:</label><br>
<input type="text" style="width:500px; height:120px;" name="comment_text">
<br>
      {{ form.text }}
      {{ form.text.errors }}
      <button style="background-color: #6f0124; color: white" type="submit" class="comment-btn">submit</button>
    </div>
  </div>    <!-- row -->
</form>

<ul class="comment-list list-unstyled">
  {% for comment in comment_list %}
  <li class="comment-item">
    <span class="nickname">{{ comment.comment_publisher }}</span>
    <time class="submit-date">{{ comment.comment_date }}</time>
    <div class="text">
      {{ comment.comment_text }}
    </div>
  </li>
  {% empty %}
  There is no comment available currently.
  {% endfor %}
</ul>

</div>
</div>
</div>
</body>

<script type="text/javascript" src="{% static 'GCapp/js/add.js' %}"></script>
<script type="text/javascript" src="{% static 'GCapp/js/jquery-1.11.3.min.js' %}"></script>
<script>
    $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
</script>

</html>