{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Main page</title><link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'GCapp/css/index.css' %}" rel="stylesheet"/>
</head>
<body >

<div id="wholebox">
{% if user_id %}
<h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection <a style="color: white;margin-left:75%;font-size: 15px " href='{% url 'GCapp:main' %}'>Go to my page</a></h1>
{% else %}
<h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection <a style="color: white;margin-left:75%;font-size: 15px " href='{% url 'GCapp:login' %}'>Login</a></h1>
{% endif %}
<form method="post" action="/GCapp/search/">{% csrf_token %}
    <div id="search">
  <input style="width: 350px; float: left" type="search" class = form-control id = 'gamename' name = 'gamename' placeholder="Search for games" required><button style="margin-top: 5px" type="submit">Search</button>
 </div>
</form>

<div id="community">
<h2 >WALK THROUGH COMMUNITY</h2>
{% if community_list %}
    <ul>
    {% for community in community_list %}
        <li style="padding-top: 20px;"><a style="color: lavenderblush" href="{% url 'GCapp:community' community.community_id %}">{{ community.community_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No community is available.</p>
{% endif %}
</div>

<div id="gamenews">
<h2>RECENT GAME NEWS</h2>
{% if latest_news_list %}
    <ul>
    {% for news in latest_news_list %}
        <li style="margin-left: 50px;padding-top: 15px;" ><a style="color: lavenderblush ;font-size: 15px" href="{% url 'GCapp:detail' news.news_id %}">{{ news.news_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No news is available.</p>
{% endif %}
</div>

<div id="gamesuggestion">
<h2>GAMES RECOMMEND FOR YOU</h2>
{% if recommend_game_list %}
    <ul style="margin-left: 30px; list-style: none;">
    {% for game in recommend_game_list %}
        <li style="display: block;width: fit-content; height: auto; float: left;margin-left: 30px; text-align: center;"><a style="color: lavenderblush;font-size: 15px;font-style: inherit;"href="{% url 'GCapp:game' game.game_id%}">{{ game.game_name}}</a>
            <p><img width = 270px height = 190px src="{% static 'GCapp/media/gameImg/' %}{{game.game_image}}"><br></p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No game recommendation is available.</p>
{% endif %}
</div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>


</div>
</body>
</html>