{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'GCapp/css/login.css' %}" rel="stylesheet"/>
      <title>Login</title>
  </head>
  <body>
  <div id="wholebox">
  <h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection</h1>
    <div class="container">
            <div class="col">
              <form class="form-login" action="/GCapp/login/" method="post">{% csrf_token %}

                  {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                  {% endif %}

                  <h3 class="text-center">Welcome to GameCollection!</h3>

                    <div class="form-group">
                    {{ login_form.username.label_tag }}
                        {{ login_form.username }}
                    </div>

                    <div class="form-group">
                     {{ login_form.password.label_tag }}
                        {{ login_form.password}}
                    </div>


                <div>
                  <a style="color: #6f0124;" href='{% url 'GCapp:register' %}' class="text-success "><ins style="color: lavenderblush">Register as new user</ins></a>
                  <button style="background-color: #6f0124" type="submit" class="btn btn-primary float-right">Login</button>
                </div>
              </form>
            </div>
    </div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
</script>
  </div>
  </body>
</html>