{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'GCapp/css/main.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="wholebox">
    <h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection<a style="color: white;margin-left:50%;font-size: 15px" href='{% url 'GCapp:logout' %}'>Logout</a> | <a style="color: white;font-size: 15px" href='{% url 'GCapp:profile' %}'>View my profile</a> | <a style="color: white;font-size: 15px" href='{% url 'GCapp:index' %}'>Main page</a> | <a style="color: white;font-size: 15px" href='{% url 'GCapp:edit' %}'>Change my community</a></h1>
    {% if request.session.user_name %}
    <h4 style="color: white; padding-top: 10px;float: left;margin-left: 20px;">{{ request.session.user_name }}! Login successful!</h4>
{% else %}
    <h4 style="color: white;padding-top: 10px; float: left;margin-left: 20px;">You haven't login to GameCollection! Please login to view your game collection!</h4>>
    {% endif %}


<form method="post" action="/GCapp/search/">
  {% csrf_token %}
    <div id="search">
  <input style="width: 350px; float: left" type="search" class = form-control id = 'gamename' name = 'gamename' placeholder="Search for games" required>
  <button type="submit">Search</button>
    </div>
</form>


<div id="collection" style="margin-left: 40px">
<h2 style="color: black; font-style: italic ">My game collection</h2>
  <form method="post" action="/GCapp/searchMygame/" style="float: left">
    {% csrf_token %}
   <input style="width: 150px; height: 25px;float: left" type="searchMygame" class = form-control id = 'gamename' name = 'gamename' placeholder="Input game name" required>
      <button style="background-color:aliceblue; color: black;" type="submit">Search by name</button>
 </form>
<form method="post" action="/GCapp/main/" style="margin-outside: 20px">{% csrf_token %}
    <select style="width: 150px; height: 25px" name="type">
        {# 这里我们遍历form表单中的type这个字典,然后把key,value成对取出  #}
        {% for key,value in type_form.type_choice %}
            <option value="{{ value }}">{{ key }}</option>
        {% endfor %}
    </select>
    <input style="color: black; background-color: aliceblue" type="submit" value="Search by type"/>
    {% csrf_token %}
</form>



{% if game_collection_list %}
    <ul>
    {% for game in game_collection_list %}
        <li style="padding-top: 20px;"><a style="color: lavenderblush" href="{% url 'GCapp:game' game.collection_gameid.game_id %}">{{ game.collection_gameid.game_name }}</a>
        <button style="height: 18px; width: auto;line-height: 10px;margin: 0px;border: 0px; background-color: lightgrey; color: black;text-align: center" type="submit" class="btn btn-primary float-right" onclick="deletecollection({{ game.collection_gameid.game_id }});">Delete</button></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No game in your collection.</p>
{% endif %}

<h2 style="color: black; font-style: italic">Games belong to this type</h2>
{% if filtered_game_list %}
    <ul>
    {% for game in filtered_game_list %}
        <li><a style="color: white" href="{% url 'GCapp:game' game.collection_gameid.game_id%}">{{ game.collection_gameid.game_name }}</a></li>
        <button style="height: 25px; width: auto; background-color: #6f0124; color: white;" type="submit" class="btn btn-primary float-right" onclick="deletecollection({{ game.collection_gameid.game_id }});">Delete</button>
    {% endfor %}
    </ul>
{% else %}
    <p>No game belong to this type</p>
{% endif %}

<h2 style="color: black; font-style: italic" >Game suggested according to your tag</h2>
{% if recommend_game_list %}
    <ul>
    {% for game in recommend_game_list %}
        <li><a style="color: white" href="{% url 'GCapp:game' game.game_id %}">{{ game.game_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No game recommendation</p>
{% endif %}

</div>
</div>
</body>
<script type="text/javascript" src="{% static 'GCapp/js/delete.js' %}"></script>
<script type="text/javascript" src="{% static 'GCapp/js/jquery-1.11.3.min.js' %}"></script>
<script>
    $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
</script>
</html>
