{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Post detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'GCapp/css/main.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="wholebox">
{% if user_id %}
<h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection <a style="color: white;margin-left:60%;font-size: 15px " href='{% url 'GCapp:index' %}'>Main page</a> |  <a style="color: white;font-size: 15px " href='{% url 'GCapp:main' %}'>My page</a> | <a style="color: white;font-size: 15px " href='{% url 'GCapp:community' post.post_community.community_id %}'>Community page</a></h1>
{% else %}
<h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection <a style="color: white;margin-left:65%;font-size: 15px " href='{% url 'GCapp:login' %}'>Login</a> | <a style="color: white;font-size: 15px " href='{% url 'GCapp:index' %}'>Main page</a> | <a style="color: white;font-size: 15px " href='{% url 'GCapp:community' post.post_community.community_id %}'>Community page</a></h1>
{% endif %}
<h2 style="color: black; font-style: italic; margin-left: 50px;">{{ post.post_title }}</h2>
<p style="color: lavenderblush;margin-left: 50px;"> Posted by {{ post.post_publisher }} on {{ post.post_date }}</p>
<p style="margin-left: 50px">
    {{ post.post_text }}
</p>

<div style="margin-left: 50px">
    <form action="{% url 'GCapp:post' post.post_id %}" method="post" class="comment-form">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      <label for="{{ form.pcomment_text.id_for_label }}"> Publish my comment:</label><br>
<input type="text" style="width:500px; height:120px;" name="pcomment_text">
<br>
      {{ form.text }}
      {{ form.text.errors }}
      <button style="background-color: #6f0124; color: white" type="submit" class="comment-btn">submit</button>
    </div>
  </div>    <!-- row -->
</form>

<ul class="comment-list list-unstyled">
  {% for pcomment in post_comment_list %}
  <li class="comment-item">
    <span class="nickname">{{ pcomment.pcomment_publisher }}</span>
    <time class="submit-date">{{ pcomment.pcomment_date }}</time>
    <div class="text">
      {{ pcomment.pcomment_text }}
    </div>
  </li>
  {% empty %}
  There is no comment available currently.
  {% endfor %}
</ul>
</div>
</div>
</body>
</html>