{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'GCapp/css/main.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="wholebox">
    <h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection<a style="color: white;margin-left:65%;font-size: 15px" href='{% url 'GCapp:logout' %}'>Logout</a></h1>
<div style="margin-left: 30px; margin-top: 50px">
<h2 style="color: black; font-style: italic;font-weight: bold ">My profile</h2>
{% if user %}
    <p style="font-weight: bold">User name: {{ user.user_name }}</p>
    <p style="font-weight: bold">Gender: {{ user.user_gender }}</p>
    <p style="font-weight: bold">Email: {{ user.user_email }}</p>
    <p style="font-weight: bold">Tag: {{ user.user_tags }}</p>
    <p style="font-weight: bold">Community: {{ user.user_community }}</p>
    <p style="font-weight: bold">Register date: {{ user.register_time }}</p>

<div style="margin-top: 150px">
    <a style="color: lavenderblush; margin-top: 150px" href='{% url 'GCapp:edit' %}'>Edit my profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: lavenderblush" href='{% url 'GCapp:main' %}'>Back to my collection</a>
</div>
{% endif %}
</div>
</div>
</body>
</html>