{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'GCapp/css/main.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="wholebox">
<h1 style="color:white"><img width = 40px height = auto src="{% static 'GCapp/image/logo.png' %}">GameCollection<a style="color: white;margin-left:65%;font-size: 15px" href='{% url 'GCapp:logout' %}'>Logout</a> | <a style="color: white;font-size: 15px" href='{% url 'GCapp:profile' %}'>View my profile</a></h1>
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div id="collection">
<h2 style="color: black; font-style: italic "> Search Results for '{{ search_game }}'</h2>
{% for game in game_list %}
  <div>
  <li style="padding-top: 20px;" ><a style="color: lavenderblush" href="{% url 'GCapp:game' game.collection_gameid.game_id %}">{{ game.collection_game }}</a></li>
  
  </div>
{% empty %}
  <div class="no-game">
    No matching result, please check your input!
  </div>
{% endfor %}
</div>
</div>
</body>
</html>
