body {
    height: 100%;
    background: #cd9f9b;
}

#wholebox {
    border-top:40px solid #6f0124;
}

#wholebox h1{
    height: 25px;
    margin: -35px auto 0;
    font-size: 30px;
    padding: 0 0px;
    text-align: left;
    width: auto;
}

#search {
    margin-top: 15px;
    margin-left: 70%;
}

#community h2{
    color: white;
    font-size: 15px;
}

#community {
    background-color: #a85c62;
    float: left;
    height: 1200px;
    width: fit-content;
}

#gamenews {
    position: relative;
    left:50px;

}

#gamenews li{
    margin-left: 50px;
}

#gamenews h2{
    color: black;
    font-style: italic;
}


#gamesuggestion {
    margin-left: 50px;
    position: relative;
    left: 50px;
    font-size: 10px;

}

#gamesuggestion h2{
    color:black;
    font-style: italic;
}


