body {
    height: 100%;
    background: #cd9f9b;
}

#wholebox {
    border-top:40px solid #6f0124;
}

#wholebox h1{
    height: 25px;
    margin: -40px auto 0;
    font-size: 30px;
    padding: 0 0px;
    text-align: left;
    width: auto;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-login{
    margin-top:80px;
    font-weight: 400;
}
.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;

}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
form a{
    display: inline-block;
    margin-top:25px;
    font-size: 12px;
    line-height: 10px;
}

