body {
    height: 100%;
    background: #cd9f9b;
}

#wholebox {
    border-top:40px solid #6f0124;
}

#wholebox h1{
    height: 25px;
    margin: -35px auto 0;
    font-size: 30px;
    padding: 0 0px;
    text-align: left;
    width: auto;
}

#search {
    margin-top: 15px;
    margin-left: 70%;
}