body {
    height: 100%;
    background-image: url('../image/login.jfif');
}

#wholebox {
    border-top:40px solid #6f0124;
}

#wholebox h1{
    height: 25px;
    margin: -40px auto 0;
    font-size: 30px;
    padding: 0 0px;
    text-align: left;
    width: auto;
}

.form-register {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 5px;
}
form a{
    display: inline-block;
    margin-top:25px;
    line-height: 10px;
}